.App {
  text-align: center;
}

ul {
  display: inline;
}

li {
  display: initial;
  padding: 20px;
}

.about {
  display: flex;
}

.blog {
  display: flex;
  justify-content: space-evenly;
}

.latest {
  display: flex;
  flex-direction: column;
}
.box {
  border: 1px solid black;
  width: 450px;
  display: flex;
  padding: 40px 20px;
  flex-direction: column;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-navbar {
  background-color: lightskyblue;
  box-sizing: border-box;
  padding: 10px;
  color: azure;
  margin-bottom: 20px;
}
.profile-navbar {
  background-color: lightskyblue;
  box-sizing: border-box;
  padding: 10px;
  color: azure;
  margin-bottom: 20px;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
