.App {
  text-align: center;
}

li {
  display: initial;
  padding: 20px;
}
ul {
  display: inline;
}
.active {
  background-color: red;
  color: wheat;
}
.aboutme {
  display: flex;
}
.navbar {
  margin-bottom: 30px;
}
.blog-container {
  display: flex;
}
.blog-module {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
}
.blog-list {
  display: flex;
  flex-direction: column;
}
.blog-module h3 {
  margin-block-start: 0;
}
